.ladder-text-wrapper {
  position: relative;
  padding: 0 10px 10px 20px;
  text-align: center;
}

.ladder-h1 {
  white-space: pre-wrap;
  font-weight: 300;
}

.ladder-h2 {
  white-space: pre-wrap;
  font-weight: 300;
}

.ladder-h3 {
  white-space: pre-wrap;
  font-weight: 300;
}

.mini-ladder-wrapper {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  justify-content: center;
  align-items: center;
  margin: 0 100px 0 100px
}

.ladder-mini-box {
  /* position: relative; Ensure relative positioning for absolute children */
  position: relative;
  width: 200px;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.mini-ladder-item {
  justify-content: center;
  align-items: center;
}

.mini-ladder-inner{
  display: flex;
  flex-direction: column; /* If the element should be centered vertically */
  align-items: center; /* Center horizontally */
  
}

.ladder-svg-box {
  position: relative; /* Ensure relative positioning for absolute children */
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ladder-svg {
  position: relative;
  height: auto; /* Automatically adjust height based on content */
  width: 50%;
  z-index: 5; /* Send the container to the background */
}

.ladder-img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1; /* Send the container to the background */
}

.ladder-input {
  position: relative;
  max-height: 30px;
  max-width: 110px;
  margin: 0;
  /* border-radius: 5px; */

    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
  
}

.ladder-button {
  border-radius: 0 5px 5px 0;
}

.add-flash {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgb(238, 29, 186);
}
