.slide-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  /* padding: 75px 20px; */
text-align: left;
}

.slide-question {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.option-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.option-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.option-input {
  margin-right: 10px;
}

.option-label {
  font-size: 18px;
  cursor: pointer;
  
}

.other-input {
  margin-left: 10px;
  max-width: 200px;
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.selected-option {
  font-style: italic;
  display: flex;
  align-items: center;
  margin-left: 10px;

}
