.node-input-slide {
  position: relative;
  justify-content: center;

  /* margin: 6px; */
  margin: 90px;
  margin-right: 5%;
  margin-left: 5%;

  max-width: 90%;

  padding: 25px;
  padding-top: 15px;

  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  /* @media all and (min-width: 900px) {
    max-width: 1000em;
  } */
}


/* Define styles for highlighted circles */
.highlighted {
  stroke: red; /* Change the outline color to red */
  stroke-width: 4px; /* Set the outline width */
  fill-opacity: 0.8; /* Reduce the opacity of the fill */
}

.input-header{
  /* margin-bottom: 10px; */
  white-space: pre-wrap;
  margin-top: 50px;
  margin-left: 10px;
  font-weight: 300;
  text-align: center;


}

form {
  display: flex;
  /* margin-bottom: 5px; */
  margin-left: 10px;
  margin-top: 10px;

}

input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;

}

button {
  padding: 8px 15px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.item-list {
  list-style-type: none;
  padding: 0;
}

.item-list li {
  margin-bottom: 5px;
  font-size: 20px;
  margin-left: 10px;
  font-weight: 500;

}

.max-nom {
  margin-top: 0;
  font-size: 15px;
  margin-left: 10px;

}


/* Define a CSS animation for flashing red border */
@keyframes flashRed {
  0% { border-color: transparent; }
  50% { border-color: red; }
  100% { border-color: transparent; }
}

/* Apply the animation to the button when the 'flash' class is active */
.add-flash {
  /* animation: flashRed 1s infinite; Change '0.5s' to adjust the animation duration */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgb(238, 29, 186);
}

.error-message {
  color: red; /* Text color */
  font-size: 14px; /* Font size */
  margin-top: 5px; /* Top margin for spacing */
}


.max-items-reached {
  text-align: center;
  color: rgb(240, 103, 103);
  font-weight: 500;
  /* border: 3px solid green; */
}