.node-input-slide-box {
  position: relative;
  justify-content: center;

  margin: 90px;
  margin-right: 5%;
  margin-left: 5%;

  max-width: 90%;

  padding: 25px;
  padding-top: 15px;

  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  /* @media all and (min-width: 900px) {
    max-width: 1000em;
  } */
}

.node-input-text-wrapper {
  position: relative;
  padding: 0 10px 10px 20px;
  text-align: center;
}

.node-input-h1 {
  white-space: pre-wrap;
  font-weight: 300;
}

.node-input-h2 {
  white-space: pre-wrap;
  font-weight: 300;
}

.node-input-h3 {
  white-space: pre-wrap;
  font-weight: 300;
}


form {
  display: flex;
  /* margin-bottom: 5px; */
  margin-left: 10px;
  margin-top: 10px;

}

input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;

}

button {
  padding: 8px 15px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.item-list {
  list-style-type: none;
  padding: 0;
}

.item-list li {
  margin-bottom: 5px;
  font-size: 20px;
  margin-left: 10px;
  font-weight: 500;

}

.add-flash {
  /* animation: flashRed 1s infinite; Change '0.5s' to adjust the animation duration */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgb(238, 29, 186);
}

.max-items-reached {
  text-align: center;
  color: rgb(240, 103, 103);
  font-weight: 500;
  /* border: 3px solid green; */
}