.node-connect-slide-box {
  position: relative;

  text-align: center;
  margin: 90px;
  margin-right: 5%;
  margin-left: 5%;

  width: 100%;
  max-width: 90%;
  /* height: 10%; */
  padding: 0px 10px 50px 0;

  /* padding-bottom: 100px; */

  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  /* @media all and (min-width: 900px) {
    max-width: 1000em;
  } */
}

.node-connect-text-wrapper {
  position: relative;
  padding: 0 10px 10px 20px;
  text-align: center;
}

.node-connect-h1 {
  white-space: pre-wrap;
  font-weight: 300;
}

.node-connect-h2 {
  white-space: pre-wrap;
  font-weight: 300;
}

.node-connect-h3 {
  white-space: pre-wrap;
  font-weight: 300;
}


.node-box {
  position: relative;
  max-width: 600px;
  max-height: 600px;
  height: 400px;
  margin: 0 auto;
  /* padding: 20px 20px; */
  background-color: aquamarine;
  justify-content: "center";
  align-items: "center";
  border-radius: 3%;
  /* border-width: 10px; */
  border: 5px solid black; /* Border with 2px width, solid style, and black color */
  margin-top: 10px;
  /* padding: 10px; */
}
.svg {
  width: 100%; /* Make the SVG element fill the container */
  height: 100%; /* Make the SVG element fill the container */
  overflow: hidden; /* Hide overflow content */
}

.highlighted {
  stroke: black; /* Change the outline color to red */
  stroke-width: 5; /* Set the outline width */
  opacity: 0.5; /* Reduce the opacity of the fill */

         
}
