.node-select-box {
  width: 90vw; /* Initial width as 90% of the viewport width */
  max-width: 800px; /* Maximum width of 1000px */
  margin: 0 auto; /* Center the box horizontally */
  /* Add other styling properties as needed */

  /* Media query for screens smaller than 1000px */

  padding: 25px;
  
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  /* @media all and (min-width: 900px) {
    max-width: 1000em;
  } */
}

.node-select-text-wrapper {
  position: relative;
  padding: 0 10px 10px 20px;
  text-align: center;
}

.node-select-h1 {
  white-space: pre-wrap;
  font-weight: 300;
}

.node-select-h2 {
  white-space: pre-wrap;
  font-weight: 300;
}

.node-select-h3 {
  white-space: pre-wrap;
  font-weight: 300;
}




.node-box {
  position: relative;
  max-width: 600px;
  max-height: 600px;
  height: 400px;
  margin: 0 auto;
  /* padding: 20px 20px; */
  background-color: aquamarine;
  justify-content: "center";
  align-items: "center";
  border-radius: 3%;
  /* border-width: 10px; */
  border: 5px solid black; /* Border with 2px width, solid style, and black color */
  /* margin-top: 20px; */
  /* padding: 10px; */
}
.svg {
  width: 100%; /* Make the SVG element fill the container */
  height: 100%; /* Make the SVG element fill the container */
  overflow: hidden; /* Hide overflow content */
}
